/* all style*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


body{
  font-family: 'PT Sans Caption', sans-serif;
color: whitesmoke;

}



.heading{
  font-family: 'Abril Fatface', cursive;
  
}

.heading span{
  color:  rgb(206, 173, 24);
  text-transform: uppercase;
} 
.heading:before{
  content: "";
  display: block;
  border: 4px ridge rgb(81, 122, 81);
  margin-left: 20%;
  
}

.heading:after{
  content: "";
  display: block;
  border: 4px ridge rgb(81, 122, 81);
  margin-right: 20%;
  
}

.item {
    padding: 25px;
    box-shadow: 0 6px 30px 0 whitesmoke;
    background-color: rgb(48, 46, 46);
    text-align: center;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 5px;
      
    
      }

   

.shopbtn {
    border-radius: 50px;
    border:none;
    margin-top: 15px;
    padding: 15px;
    background: rgb(81, 122, 81);
    color: #FBFBFA;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    letter-spacing: 5px;
    margin-bottom: 20px;
  }
  
.items {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  padding: 45px;

  }


.itemimg{
  width: 105px;
  height: 105px;
}




 div h1{
   text-align: center;
   font-family: 'PT Sans Caption', sans-serif;
   color:whitesmoke;
   padding: 20px;
   font-weight: 900;
   font-size: 90px;
   text-transform: uppercase;
  
 }
 

 .itemcaption{
   text-transform: capitalize;
   color: rgb(206, 173, 24);
   font-weight: bold;
   padding: 10px;
 }

 span p{
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
  color:whitesmoke;
  font-weight: lighter;
  margin-top: 25px;
  font-size: 30px;
  text-transform: uppercase;

 }

 

  /* media querries */
@media screen and (max-width: 1020px) {/* Large Desktop */ }
@media screen and (max-width: 780px) { /* tablet */ }
@media screen and (max-width: 480px) {/* mobile */ }